body {
  min-width: 1570px;
  margin: 0;
  padding: 0 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  font-family: "Poppins", "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;

  border: 0 !important;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.button-round {
  display: block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  background-color: #000000;
  border: none;
  border-radius: 50%;
}

.button-round--color {
  background-color: #ffffff;
}

.site-navigaton__button {
  position: relative;
  width: 55px;
  height: 55px;
}

.button-round--burger::after {
  content: "";
  position: absolute;
  left: 50%;

  width: 19px;
  height: 3px;

  background-color: #ffffff;
  box-shadow: 0 -6px 0 0 #ffffff, 0 6px 0 0 #ffffff;
  transform: translateX(-50%);
}

.button {
  position: relative;

  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  font-family: "Poppins", "Arial", sans-serif;
  color: #0a0a0a;

  background-color: #82f4d3;
  border: none;
}

.button--frame::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;

  width: 100%;
  height: 100%;

  border: 3px solid #82f4d3;
  border-radius: 3px;
}

.partner__button {
  margin-bottom: 15px;
  margin-left: 75px;
  padding: 4px 25px;

  font-weight: 700;
  font-size: 25px;
  line-height: 2;
  text-transform: uppercase;
}

.page-header {
  margin-bottom: 100px;

  background: linear-gradient( 75deg, #e9e9e9 50%, #82f4d3 50%);
}

.page-header__wrapper {
  width: 100%;
}

.page-header__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.page-header__content {
  position: relative;

  min-height: 1030px;
  padding-top: 65px;

  background-image: url(../image/page-header__shoes-image.png);
  background-repeat: no-repeat;
  background-position: center 80%;
}

.main-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.page-header__main-navigation {
  margin-bottom: 110px;
}

.main-navigation::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 88px;

  width: 10px;
  height: 10px;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000000,-30px 0 0 0 #82f4d3,-30px 0 0 2px #000000;
  transform: translateY(-50%);
}

.logo {
  margin: 0;
}

.logo-partner {
  margin: 0;
}

.site-navigaton__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.logo-partner__image {
  display: block;
  margin-bottom: 30px;
}

.page-header__paragraph {
  position: absolute;
  bottom: 90px;
  left: -40px;

  width: 330px;
  margin: 0;

  font-size: 14px;
  line-height: 1.79;
  color: #8f8f8f;

  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.social-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__social-list {
  position: absolute;
  right: -120px;
  bottom: 50px;
}

.page-header__social-list .social-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.social-list__link {
  display: block;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list__link--twitter {
  background-image: url(../image/social-list__twitter-green.png);
}

.social-list__link--facebook {
  background-image: url(../image/social-list__facebook-white.png);
}

.social-list__link--google {
  background-image: url(../image/social-list__google-white.png);
}

.social-list__link--pinterest {
  background-image: url(../image/social-list__pinterest-white.png);
}

/* =========== main ============== */

.page-main__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.product {
  position: relative;

  display: flex;
  min-height: 390px;
  margin-bottom: 90px;
  padding-top: 200px;
}

.cadre {
  margin: 0;

  background-color: #eeeded;
  border: 8px solid #ffffff;
  box-shadow: 5px 5px 20px  rgba(223, 220, 220, 0.75);
}

.cadre__image {
  display: block;
}

.product__image {
  width: 673px;
  height: 573px;
}

.product__cadre {
  position: absolute;
  top: 0;
  left: -100px;

  width: 671px;
  height: 571px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 667px;
  margin-left: auto;
}

.product__text-container {
  position: relative;

  padding-right: 80px;
}

.product__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.product__paragraph {
  margin: 0;
  padding-bottom: 45px;

  font-size: 15px;
  line-height: 2;
  color: #888888;
}

.product__button-container {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
}

.product__button {
  padding: 8px 38px;
}

.button--frame-top::after {
  top: -10px;
  left: -15px;
}

.page-main__popular {
  margin-bottom: 100px;
}

.popular__title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__item {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.popular__image-container {
  position: relative;

  margin-bottom: 65px;
}

.popular__image {
  display: block;
}

.popular__image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(130, 244, 211, 0.87);
  box-shadow: inset 0 0 0 10px #f1f0f0;
}

.popular__button {
  position: absolute;
  top: 130px;
  left: 50%;

  white-space: nowrap;

  visibility: hidden;
}

.popular__image-container:hover .popular__button {
  visibility: visible;
}

.button--transparent {
  padding: 8px 28px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  transform: translate(-50%, 0);
}

.popular__text-container {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.popular__text-container-row {
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 2;
}

.popular__product-name {
  margin-right: 25px;

  color: #000000;
}

.product__shop {
  color: #bbbbbb;
}

.popular__price {
  margin: 0;

  font-size: 25px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;
}

/* =============== collections ================== */

.page-main__collections {
  margin-bottom: 100px;
}

.collections {
  position: relative;

  padding-top: 145px;
  padding-bottom: 175px;
}



.collections__text-column {
  padding-right: 600px;
}

.collections__title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.collections__description {
  margin: 0;
  margin-bottom: 60px;

  font-size: 15px;
  font-size: 15px;
  line-height: 2;
  color: #888888;
}

.collections__button {
  padding: 8px 17px;
}

.collections__image-column {
  position: absolute;
  top: 0;
  right: 0;
}

.collections__image-column::after {
  right: -112px;
  bottom: -112px;

  width: 293px;
  height: 388px;
}

.cadre--rectangle::after {
  content: "";
  position: absolute;
  z-index: -10;

  background: linear-gradient(to top, #65e0bc, #c9f9eb);
}

.cadre__collections-image {
  width: 470px;
  height: 509px;
}

/* ========= thought ========= */

.thought {
  background-color: #f8f8f8;
}

.page-main__thought {
  margin-bottom: 100px;
}

.thought__wrapper {
  width: 100%;
}

.thought__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.thought__content {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

.thought__cite-conteiner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -280px;

  width: 114px;
  height: 19px;

  background-image: url(../image/thought__arrow.png);
  background-repeat: no-repeat;
}

.thought__cite-conteiner::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -280px;

  width: 114px;
  height: 19px;

  background-image: url(../image/thought__arrow.png);
  background-repeat: no-repeat;
  transform: scale(-1);
}

.thought__row {
  width: 100%;

  text-align: center;
}

.thought__cite-conteiner {
  position: relative;

  width: 945px;
  margin: 0 auto;
}

.thought__cite-conteiner {
  margin-bottom: 30px;
}

.thought__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.thought__paragraf {
  margin: 0;

  font-size: 15px;
  line-height: 2;
  color: #888888;
}

.thought__author {
  font-style: 18px;
  line-height: 1.39;
  color: #666666;
}

.thought__job-author {
  margin: 0;

  font-style: 15px;
  line-height: 1.7;
  color: #51cda9;
}

/* ========= blog ========= */

.blog {
  min-height: 800px;
}

.blog__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.blog__content {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.blog__title {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 80px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.blog-news {
  margin: 0;
  padding: 0;

  list-style: none;
}

.blog__news {
  margin-left: auto;
  padding-bottom: 360px;
  padding-left: 584px;
}

.blog-news__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.blog-news__cadre {
  position: absolute;
  top: 0;
  left: -520px;
}

.blog-news__cadre::after {
  right: -150px;
  bottom: -145px;

  width: 264px;
  height: 350px;

  background-image: url("../image/blog-news__nike.png"), linear-gradient(to top, #65e0bc, #c9f9eb);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.blog-news__cadre::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -80px;
  z-index: -10;

  width: 264px;
  height: 350px;

  border: 10px solid #f9f9f9;
  border-radius: 15px;
}

.cadre__blog-news {
  width: 425px;
  height: 460px;
}



.blog-news__title-item {
  margin: 0;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.25;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.blog-news__paragraf {
  margin: 0;
  margin-bottom: 70px;

  font-size: 15px;
  line-height: 1.6;
  color: #888888;
}

.blog-news__button {
  margin-left: auto;
  padding: 8px 32px;
}

/* ========= slider ========= */

.blog__slider {
  position: absolute;
  right: 0;
  bottom: 120px;
}

.slider__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.color__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
}

.slider__color-toggle {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  padding-right: 60px;
}

.slider__button {
  padding: 0;

  background-color: transparent;
  border: none;
}

.slider__color-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 45px;
  height: 2px;

  background-color: #0e0e0e;
}

.slider__color {
  width: 15px;
  height: 15px;
  margin-right: 15px;

  border-radius: 50%;
}

.slider__color:last-child {
  margin-right: 0;
}

.slider__color--color-1 {
  background-color: #232323;
}

.slider__color--color-2 {
  background-color: #a2f2db;
}

.slider__color--color-3 {
  background-color: #e1e1e1;
}

.slider__active-color {
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #97f0d6;
}

.slider__pages-container {
  margin: 0;
  margin-right: 25px;
}

.slider__first-number {
  font-size: 20px;
  line-height: 1.25;
  color: #181818;
}

.slider__second-number {
  font-size: 20px;
  line-height: 1.25;
  color: #181818;
}

.slider__arrows-toggle-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 32px;
  height: 19px;
}

.slider__arrow {
  width: 9px;
  height: 14px;
  margin-right: 14px;

  background-repeat: no-repeat;
  background-position: center center;
}

.slider__arrow:last-child {
  margin-right: 0;
}

.slider__arrow--back {
  background-image: url(../image/slider__back.png);
}

.slider__arrow--next {
  background-image: url(../image/slider__next.png);
}

/* ========= page-footer ========= */

.page__footer-inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page__footer-content {
  /* padding-top: 40px; */
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__top-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__top-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(229, 229, 229, 0.72);
}

.page-footer__top-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(229, 229, 229, 0.72);
}

.page-footer__bottom-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__text-container {
  margin-left: auto;
}

.page-foter__logo-conteiner {
  width: 210px;
  margin-right: 68px;
}

.page-foter__list-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: ;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-foter__list-link:first-child {
  width: 114px;
  margin-right: 60px;
}

.page-foter__list-link:nth-child(2) {
  width: 134px;
}

/* ====== page-footer-list-link ====== */

.page-footer-list-link {
  color: #888888;
  font-size: 15px;
  line-height: 1.7;
}

.page-footer-list-link__item {
  /*  */
}

.page-footer-list-link__link {
  /*  */
}

.page-footer__list-link-conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  margin-right: 99px;
  padding-left: 11px;
}

/* ====== page-footer-list-link ====== end  */

.page-footer__form-social__container {
  box-sizing: border-box;
  padding-left: 15px;
  width: 472px;
}

.page-footer__form-container {
  margin-bottom: 20px;
}

/* ====== form-subscription ====== */
.form-subscription {
  /*  */
}

.form-subscription__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  color: #888888;
}

.form-subscription__form {
  /*  */
}

.form-subscription__email-field-conteiner {
  display: flex;
  flex-wrap: wrap;
}

.form-subscription__email-field {
  box-sizing: border-box;
  min-width: 303px;
  padding: 8px 32px;
  margin-right: 8px;
  border: none;
  box-shadow: 0 0 25px 7px rgba(231, 231, 231, 0.75);
}

.form-subscription__email-field::-webkit-input-placeholder {
  color: #dddddd;
}

.form-subscription__button {
  box-sizing: border-box;
  min-width: 146px;
  padding: 8px 32px;
}

.page-foter__social-list {
  flex-direction: row;
  margin-left: -15px;
}

.page-foter__social-list-item {
  /*  */
}

.page-foter__social-list-link {
  /*  */
}

.page-foter__social-list-link--twitter {
  background-image: url(../image/social-list__twitter-green.png);
}

.page-foter__social-list-link--facebook {
  background-image: url(../image/social-list__facebook--gray.png);
}

.page-foter__social-list-link--google {
  background-image: url(../image/social-list__google--gray.png);
}

.page-foter__social-list-link--pinterest {
  background-image: url(../image/social-list__pinterest--gray.png);
}

/* ====== form-subscription ====== end*/

.page__foter__social-list {
  /*  */
}

.page-footer__contact {
  margin: 0;
  margin-left: auto;
  font-size: 15px;
  line-height: 1.73;
  color: #a6a5a5;
}
/* ========= page-footer end========= */
