body {
  min-width: 1570px;
  margin: 0;
  padding: 0 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  font-family: "Poppins", "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;

  border: 0 !important;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.button-round {
  position: relative;

  display: block;
  box-sizing: content-box;
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;

  background-color: #000000;
  border: none;
  border-radius: 50%;
}

.button-round--color {
  background-color: #ffffff;
}

.button-round--burger {
  width: 55px;
  height: 55px;
}

.button-round--burger::after {
  content: "";
  position: absolute;
  left: 50%;

  width: 19px;
  height: 3px;

  background-color: #ffffff;
  box-shadow: 0 -6px 0 0 #ffffff, 0 6px 0 0 #ffffff;
  transform: translateX(-50%);
}

.button {
  position: relative;

  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  font-family: "Poppins", "Arial", sans-serif;
  color: #0a0a0a;

  background-color: #82f4d3;
  border: none;
}

.button--frame::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;

  width: 100%;
  height: 100%;

  border: 3px solid #82f4d3;
  border-radius: 3px;
}

.partner__button {
  margin-bottom: 15px;
  margin-left: 75px;
  padding: 4px 25px;

  font-weight: 700;
  font-size: 25px;
  line-height: 2;
  text-transform: uppercase;
}

.page-header {
  margin-bottom: 100px;

  background: linear-gradient( 75deg, #e9e9e9 50%, #82f4d3 50%);
}

.page-header__wrapper {
  width: 100%;
}

.page-header__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.page-header__content {
  position: relative;

  min-height: 1030px;
  padding-top: 65px;

  background-image: url(../image/page-header__shoes-image.png);
  background-repeat: no-repeat;
  background-position: center 80%;
}

.main-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.page-header__main-navigation {
  margin-bottom: 110px;
}

.main-navigation::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 88px;

  width: 10px;
  height: 10px;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000000,-30px 0 0 0 #82f4d3,-30px 0 0 2px #000000;
  transform: translateY(-50%);
}

.logo {
  margin: 0;
}

.logo-partner {
  margin: 0;
}

.site-navigaton__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.logo-partner__image {
  display: block;
  margin-bottom: 30px;
}

.page-header__paragraph {
  position: absolute;
  bottom: 90px;
  left: -40px;

  width: 330px;
  margin: 0;

  font-size: 14px;
  line-height: 1.79;
  color: #8f8f8f;

  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list--align-column {
  flex-direction: column;
}

.page-header__social-list {
  position: absolute;
  right: -120px;
  bottom: 50px;
}

.page-header__social-list .social-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.social-list__link {
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list__link--twitter-green {
  background-image: url(../image/social-list__twitter-green.png);
}

.social-list__link--facebook-white {
  background-image: url(../image/social-list__facebook-white.png);
}

.social-list__link--google-white {
  background-image: url(../image/social-list__google-white.png);
}

.social-list__link--pinterest-white {
  background-image: url(../image/social-list__pinterest-white.png);
}

/* =========== main ============== */

.page-main__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.product {
  position: relative;

  display: flex;
  min-height: 390px;
  margin-bottom: 90px;
  padding-top: 200px;
}

.cadre {
  position: absolute;
  top: 0;
  left: -100px;

  width: 671px;
  height: 571px;
  margin: 0;

  background-color: #eeeded;
  border: 8px solid #ffffff;
  box-shadow: 5px 5px 20px  rgba(223, 220, 220, 0.75);
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 667px;
  margin-left: auto;
}

.cadre__image {
  width: 673px;
  height: 573px;
}

.product__text-container {
  position: relative;

  padding-right: 80px;
}

.product__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.product__paragraph {
  margin: 0;
  padding-bottom: 45px;

  font-size: 15px;
  line-height: 2;
  color: #888888;
}

.product__button-container {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
}

.product__button {
  padding: 8px 38px;
}

.button--frame-top::after {
  top: -10px;
  left: -15px;
}

.page-main__popular {
  margin-bottom: 100px;
}

.popular__title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 45px;
  line-height: 0.55;
  font-family: "Cormorant Garamond", "Times new roman", serif;
  color: #000000;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__item {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.popular__image-container {
  position: relative;

  margin-bottom: 65px;
}

.popular__image {
  display: block;
}

.popular__image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(130, 244, 211, 0.87);
  box-shadow: inset 0 0 0 10px #f1f0f0;
}

.popular__button {
  position: absolute;
  top: 130px;
  left: 50%;

  white-space: nowrap;

  visibility: hidden;
}

.popular__image-container:hover .popular__button {
  visibility: visible;
}

.button--transparent {
  padding: 8px 28px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  transform: translate(-50%, 0);
}

.popular__text-container {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.popular__text-container-row {
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 2;
}

.popular__product-name {
  margin-right: 25px;

  color: #000000;
}

.product__shop {
  color: #bbbbbb;
}

.popular__price {
  margin: 0;

  font-size: 25px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;
}
